@import "reset.css";

@font-face {
    font-family: "Fira Sans";
    src: url(/font/FiraSans-Bold.ttf)
}

.main-info, .experience, .education {
    width: 70.7083333%; /* ширина контента */
    float: right; /* всплытие вправо */
    font-family: 'Fira Sans', sans-serif;
    margin-bottom: 25px;
    border-radius: 5px;
    overflow: hidden;
    background: #eff3f7;
}

.photo {
    width: 150px;
    height: 150px;
    background: #f6fbfd;
    border-radius: 50%;
    float: left;
    margin-right: 25px;
    margin-left: 50px;
}

.main-info li {
    margin-bottom: 20px;
    font-size: 17px;
    color: #4a545d;
    overflow: hidden;
}

.main-info span:last-child {
    font-size: 15px;
}

.main-info ul > li > span:first-child {
    float: left;
    margin-right: 10px;
    font-weight: 600;
}

.skills {
    overflow: hidden;
}

.skills li {
    float: left;
    background: -webkit-linear-gradient(#3ba8c0 50%, #2e8ca2 50%);
    /* background: linear-gradient(#3ba8c0 50%, #2e8ca2 50%); */
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    margin: 0 10px 10px 0;
    font-size: 14px;
}

.experience li {
    margin-bottom: 10px;
}

.place {
    font-size: 17px;
    color: #4a545d;
    overflow: hidden;
    font-weight: 500;
}

.case {
    float: left;
    margin-right: 30px;
    margin-left: 60px;
}

.experience .date {
    margin-bottom: 30px;
    font-size: 15px;
    color: #4a545d;
}

.education {
    margin-bottom: 40px;
}

.education li {
    margin-bottom: 10px;
}

.education .date {
    padding-left: 130px;
    margin-bottom: 30px;
    font-size: 15px;
    color: #4a545d;
}

/*MEDIA*/
@media screen and (min-width: 320px) and (max-width: 769px) {

    .main-info, .experience, .education {
        margin: 0 auto;
        width: 91%;
        float: none;
        margin-bottom: 25px;
    }

}

@media screen and (max-width: 485px) {
    .main-info span {
        display: block;
        text-align: center;
        width: 100%;
        margin-bottom: 5px
    }

    .main-info .skills {
        overflow: visible;
        width: 50%;
        margin: 0 auto;
    }

    .main-info .photo {
        float: none;
        margin: 30px auto;
    }

    .case {
        float: none;
    }

    .experience .date, .place {
        padding: 0;
        text-align: center;
    }

    .education .date, .place {
        padding: 0;
        text-align: center;
    }

}

/*MEDIA closed*/
