
.login-form {
    font-family: 'Fira Sans', sans-serif;
    border-radius: 7px;
    overflow: hidden;
    width: 380px;
    height: 310px;
    background-color: #eff3f7;
    margin: 180px auto;
    -webkit-box-shadow:  4px 4px 15px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 15px -4px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 15px -4px rgba(0,0,0,0.75);
}

.header-login {
    background: #48cbe8;
    border-bottom: 10px solid #67dffa;
    height: 60px;
}

.header-login h3 {
    padding-top: 18px;
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    color: #fff;
}

.authorization {
    width: 82%;
    margin: 0 auto;
}

.authorization input {
    width: 100%;
    height: 40px;
}

.form-wrapper {
    margin: 15px 0;
    position: relative;
}

.form-wrapper .name {
    text-align: center;
    font-size: 23px;
    font-weight: 300;
    color: #959aa8;
}

.form-wrapper .form-wrapper__input {
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #48cbe8;
}
.button {
    width: 45.7394541%;
    margin: 0 auto;
}
.button button{
    width: 100%;
    height: 33px;
    background-color: #48cbe8;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
}

.label {
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    left: -40px;
    background: red;
    position: absolute;
    display: none;
}

/*MEDIA*/
@media screen and (min-width: 770px) {
    .label {
        font-size: 15px;
        left: -20px;
    }

}

@media screen and (min-width: 413px) and (max-width: 769px) {
    .login-form {
        width: 515px;
        height: 485px;
        margin: 270px auto;
    }

    .header-login {
        border-bottom: 15px solid #67dffa;
        height: 95px;
    }
    .header-login h3 {
        padding-top: 28px;
        font-size: 40px;
    }
    .form-wrapper .name {
        font-size: 36px;
    }
    .authorization input {
        height: 65px;
    }
    .button button {
        height: 55px;
        margin-top: 15px;
        font-size: 34px;
        font-weight: 300;
    }
    .label {
        font-size: 20px;
        left: -30px;
    }
}
@media screen and (max-width: 412px) {
    .login-form {
        width: 298px;
        height: 288px;
        margin: 140px auto;
    }
    .header-login {
        height: 55px;
    }
    .header-login h3 {
        padding-top: 15px;
        font-size: 24px;
    }
    .form-wrapper .name {
        font-size: 21px;
    }
    .authorization input {
        height: 35px;
    }
    .button button {
        font-size: 20px;
    }
    .label {
        left: -15px;
        font-size: 11px;
    }
}

/*MEDIA closed*/