/*MAIN*/
@import "reset.css";

@font-face {
    font-family: "Fira Sans";
    src: url(/font/FiraSans-Bold.ttf)
}

body {
    margin: 0;
    background: url("../img/background.png") repeat;
}

ul {
    list-style: none;
    overflow: hidden;
}

.header-content, .footer-content, .footer-wrapper {
    background: #eff3f7;
    overflow: hidden;
}

.headline {
    display: inline-block;
    padding: 20px;
    color: #3ba8c0;
    font-size: 27px;
    border-bottom: 2px solid #3ba8c0;
    margin-bottom: 30px;
}

/*MAIN closed*/

/*HEADER*/
.header-content {
    max-width: 1200px;
    margin: 0 auto;
}

.header-content .logo {
    float: left;
    margin-top: 5px;
}

.socialbut {
    float: right;
    line-height: 116px;
}

.btn, .btn-mob {
    margin-right: 25px;
    width: 47px;
    border-radius: 50%;
    height: 47px;
    border: 0;
    padding: 0;
    background: inherit;
    outline: none;
    cursor: pointer;
    vertical-align: middle;
}

.btn:last-child {
    margin: 0;
}

.btn-mob:last-child {
    margin-right: 0;
}

.header-content a:active {
    display: none;
}

.border {
    height: 3px;
    background: linear-gradient(to left, #e7eff3, #1f687c, #e7eff3);
}

.header {
    margin-bottom: 40px;
    background: #eff3f7;
}

/*HEADER closed*/

/*NAVIGATION*/
.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    font-size: 0;
    height: 0;
    clear: both;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

.menu {
    width: 26.00%;
    float: left;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.top-menu {
    font-family: 'Fira Sans', sans-serif;
    font-size: 21px;
    border-radius: 5px;
    background: #eff3f7;
    overflow: hidden;
    margin-bottom: 25px;
}

.top-menu li {
    margin: 0 auto;
}

.top-menu li a {
    border-bottom: 2px solid transparent;
    display: block;
    padding: 30px 0 30px 30px;
    text-decoration: none;
    color: #959aa8;
}

.top-menu li a:hover {
    border-bottom: 2px solid #3ba8c0;
    color: #3ba8c0;
}

.top-menu li a:active {
    background: #3ba8c0;
    color: #ffffff;
}

.top-menu ul:active {
    padding-left: 0;
    padding-right: 0;
}

.top-menu li:first-child a:active {
    background: #3ba8c0;
    color: #fff;
    font-family: 'Fira Sans', sans-serif;
    font-size: 21px;
}

.menu .bottom-menu {
    font-family: 'Fira Sans', sans-serif;
    overflow: hidden;
    border-radius: 5px;
}

h4 {
    width: 100%;
    color: white;
    font-size: 21px;
    background: #3ba8c0;
    padding: 10px 0 10px 20px;
}

.bottom-menu a {
    display: block;
    margin-bottom: -1px;
    text-decoration: none;
    color: white;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
}

.bottom-menu a:hover {
    text-decoration: underline;
}

.bottom-menu .contacts {
    background: #3ba8c0;
    font-size: 21px;
    text-align: left;
}

.bottom-menu .number {
    background: #48cbe8;
    font-size: 17px;
}

.bottom-menu .mail {
    background: #41b9d4;
    font-size: 17px;
}

.bottom-menu .skype {
    background: #51daf8;
    font-size: 17px;
}

.bottom-menu a {
    width: 185px;
    margin: 0 auto;
}

.bottom-menu .img {
    float: left;
    padding: 12px 20px 0 0;
}

/*NAVIGATION closed*/

/*FOOTER*/
.footer-content {
    font-family: 'Fira Sans', sans-serif;
    height: 80px;
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
    line-height: 80px;
    vertical-align: middle
}

.footer-content .lock {
    float: left;
    margin-top: 10px;
}

.footer-content p {
    line-height: 80px;
    font-size: 13px;
}

/*FOOTER closed*/

/*MEDIA*/
@media screen and (min-width: 770px) {

    .header-content .btn:last-child {
        display: none;
    }

    .bottom-menu.new {
        display: none;
    }

    .mob {
        display: none;
    }

}

@media screen and (min-width: 485px) and (max-width: 769px) {

    .menu {
        display: none;
    }

    .mob {
        display: none;
    }

    .main-info .skills {
        width: 60%;
    }

    .bottom-menu .new {
        font-family: 'Fira Sans', sans-serif;
        margin: 0 auto;
        margin-bottom: 25px;
    }

    .new li {
        font-family: 'Fira Sans', sans-serif;
        width: 33.203125%;
        float: left;
        margin-bottom: 20px;
    }

    .footer-content .lock {
        display: none;
    }
}

@media screen and (max-width: 485px) {

    .menu {
        display: none;
    }

    .header-content {
        padding: 0 0 5px 5px;
    }

    .logo {
        width: 44px;
        height: 47px;
    }

    .logo img {
        width: 100%;
    }

    .btn {
        display: none;
    }

    .btn:last-child {
        display: block;
    }

    .btn img {
        margin-top: 5px;
    }

    .headline {
        display: inherit;
        padding: 0;
        font-size: 24px;
        text-align: center;
        margin-top: 15px;
        border: 0;
    }

    .new li {
        font-family: 'Fira Sans', sans-serif;
    }

    .case {
        margin-left: 43%;
    }

    .mob {
        line-height: 70px;
        float: none;
        margin: 0 auto;
        width: 275px;
    }

    .footer-content .lock {
        display: none;
    }

    .footer-content p {
        font-size: 10px;
    }
}

/*MEDIA closed*/